USE [master]
GO
/****** Object:  Database [Nhom3DB]    Script Date: 10/6/2025 4:13:40 PM ******/
CREATE DATABASE [Nhom3DB]
go
USE [Nhom3DB]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[GiaMua] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[XepHang] [int] NOT NULL,
	[BinhLuan] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NguoiTao] [nvarchar](100) NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NOT NULL,
	[HoTenNguoiNhan] [nvarchar](100) NOT NULL,
	[DiaChiNhan] [nvarchar](100) NOT NULL,
	[SoDienThoaiNhan] [char](11) NOT NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](200) NOT NULL,
	[PhanTram] [int] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichCo]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCo](
	[MaKichCo] [int] IDENTITY(1,1) NOT NULL,
	[TenKichCo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKichCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[TenSP] [nvarchar](150) NOT NULL,
	[Gia] [money] NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[ChatLieu] [nvarchar](50) NOT NULL,
	[HuongDan] [ntext] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NguoiTao] [nvarchar](100) NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](100) NOT NULL,
	[MaMau] [char](10) NOT NULL,
	[HinhAnh] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamChiTiet]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamChiTiet](
	[IDCTSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaKichCo] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamKhuyenMai]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamKhuyenMai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaKM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNguoiDung]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNguoiDung](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [char](11) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanQuanTri]    Script Date: 11/9/2025 10:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanQuanTri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[LoaiTaiKhoan] [bit] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [IDCTSP], [SoLuongMua], [GiaMua]) VALUES (1, 361, 3, 199000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [IDCTSP], [SoLuongMua], [GiaMua]) VALUES (2, 342, 9, 199000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [IDCTSP], [SoLuongMua], [GiaMua]) VALUES (2, 363, 5, 199000.0000)
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [MaSP], [XepHang], [BinhLuan], [NgayTao], [TrangThai]) VALUES (2, 2, 62, 2, N'cũng đc', CAST(N'2025-10-01T13:06:53.770' AS DateTime), 1)
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [MaSP], [XepHang], [BinhLuan], [NgayTao], [TrangThai]) VALUES (4, 2, 62, 1, N'abc', CAST(N'2025-10-01T13:14:59.553' AS DateTime), 1)
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [MaSP], [XepHang], [BinhLuan], [NgayTao], [TrangThai]) VALUES (5, 2, 62, 3, N'adada', CAST(N'2025-10-01T13:20:11.910' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDanhMuc], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (1, N'Áo phông', CAST(N'2021-08-07T20:45:45.887' AS DateTime), N'Mai Trường Sơn', CAST(N'2021-08-07T20:45:45.887' AS DateTime), N'Mai Trường Sơn')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDanhMuc], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (2, N'Áo sơ mi', CAST(N'2021-08-07T20:45:55.990' AS DateTime), N'Mai Trường Sơn', CAST(N'2021-08-07T20:45:55.990' AS DateTime), N'Mai Trường Sơn')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDanhMuc], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (3, N'Quần jeans', CAST(N'2021-08-07T20:46:04.060' AS DateTime), N'Mai Trường Sơn', CAST(N'2021-08-07T20:46:04.060' AS DateTime), N'Mai Trường Sơn')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayDat], [GhiChu], [TrangThai], [HoTenNguoiNhan], [DiaChiNhan], [SoDienThoaiNhan], [NgaySua], [NguoiSua]) VALUES (1, 1, CAST(N'2025-09-14T23:06:34.997' AS DateTime), N'Càng nhanh càng tốt', 1, N'Lâm', N'23, Cầu diễn', N'0999288    ', CAST(N'2025-11-05T21:39:20.840' AS DateTime), N'Nguyễn Viết Lộc')
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayDat], [GhiChu], [TrangThai], [HoTenNguoiNhan], [DiaChiNhan], [SoDienThoaiNhan], [NgaySua], [NguoiSua]) VALUES (2, 1, CAST(N'2025-09-15T14:28:56.713' AS DateTime), N'Giao nhanh', 0, N'Lâm', N'23, Cầu diễn', N'0999288    ', CAST(N'2025-09-15T14:29:53.277' AS DateTime), N'Nguyễn Viết Lộc')
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayDat], [GhiChu], [TrangThai], [HoTenNguoiNhan], [DiaChiNhan], [SoDienThoaiNhan], [NgaySua], [NguoiSua]) VALUES (3, 1, CAST(N'2025-09-15T21:35:47.703' AS DateTime), N'Giao nhanh', 1, N'Lâm', N'23, Cầu diễn', N'0999288    ', CAST(N'2025-09-15T21:35:47.703' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTram], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao]) VALUES (1, N'chào hè', 10, NULL, CAST(N'2025-10-06T00:00:00.000' AS DateTime), CAST(N'2025-10-07T00:00:00.000' AS DateTime), 1, CAST(N'2025-10-05T19:45:16.917' AS DateTime))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTram], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao]) VALUES (4, N'chào hè', 10, N'ad', CAST(N'2025-10-06T00:00:00.000' AS DateTime), CAST(N'2025-10-07T00:00:00.000' AS DateTime), 0, CAST(N'2025-10-05T19:45:21.673' AS DateTime))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTram], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao]) VALUES (5, N'chào hè', 10, N'ad', CAST(N'2025-10-06T00:00:00.000' AS DateTime), CAST(N'2025-10-07T00:00:00.000' AS DateTime), 0, CAST(N'2025-10-05T19:45:21.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[KichCo] ON 

INSERT [dbo].[KichCo] ([MaKichCo], [TenKichCo]) VALUES (1, N'S')
INSERT [dbo].[KichCo] ([MaKichCo], [TenKichCo]) VALUES (2, N'M')
INSERT [dbo].[KichCo] ([MaKichCo], [TenKichCo]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[KichCo] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamChiTiet] ON 

INSERT [dbo].[SanPhamChiTiet] ([IDCTSP], [MaSP], [MaKichCo], [SoLuong]) VALUES (1, 1, 1, 0)
INSERT [dbo].[SanPhamChiTiet] ([IDCTSP], [MaSP], [MaKichCo], [SoLuong]) VALUES (2, 1, 2, 5)
INSERT [dbo].[SanPhamChiTiet] ([IDCTSP], [MaSP], [MaKichCo], [SoLuong]) VALUES (3, 1, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[SanPhamChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamKhuyenMai] ON 

INSERT [dbo].[SanPhamKhuyenMai] ([ID], [MaSP], [MaKM]) VALUES (1, 9, 1)
INSERT [dbo].[SanPhamKhuyenMai] ([ID], [MaSP], [MaKM]) VALUES (3, 62, 1)
INSERT [dbo].[SanPhamKhuyenMai] ([ID], [MaSP], [MaKM]) VALUES (4, 57, 13)
SET IDENTITY_INSERT [dbo].[SanPhamKhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] ON 

INSERT [dbo].[TaiKhoanNguoiDung] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [NgaySinh], [Email], [GioiTinh], [TrangThai]) VALUES (1, N'Lam', N'1234', N'Lâm', N'0999288    ', N'23, Cầu diễn', CAST(N'2004-12-18T00:00:00.000' AS DateTime), N'Lam@gmail.com', 1, 1)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [NgaySinh], [Email], [GioiTinh], [TrangThai]) VALUES (2, N'sonmai123', N'1234', N'mai son', N'0902206618 ', N'ha noi', CAST(N'2003-11-11T00:00:00.000' AS DateTime), N'admin@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanQuanTri] ON 

INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (1, N'admin', N'admin', 1, N'Nguyễn Viết Lộc', 1)
INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (2, N'semiadmin', N'123456', 0, N'Lò Nhật Long', 1)
INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (3, N'lam', N'123', 0, N'Lưu Thành Lâm', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoanQuanTri] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DanhMuc__650CAE4EE404938B]    Script Date: 11/9/2025 10:02:40 PM ******/
ALTER TABLE [dbo].[DanhMuc] ADD UNIQUE NONCLUSTERED 
(
	[TenDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC01816E9E7]    Script Date: 11/9/2025 10:02:40 PM ******/
ALTER TABLE [dbo].[TaiKhoanNguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0034467DC]    Script Date: 11/9/2025 10:02:40 PM ******/
ALTER TABLE [dbo].[TaiKhoanQuanTri] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[SanPhamChiTiet] ([IDCTSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_TaiKhoanNguoiDung] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_TaiKhoanNguoiDung]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([MaKichCo])
REFERENCES [dbo].[KichCo] ([MaKichCo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_SPKM_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_SPKM_KhuyenMai]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_SPKM_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_SPKM_SanPham]
GO
USE [master]
GO
